body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #057636;
    color: #057636;
}

header {
    background-color: #057636;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

.logo-container {
    text-align: center;
    padding: 5px 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('pngtree-taobao-vector-cartoon-neat-study-desk-table-home-illustration-table-lamp-image_130341.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.logo-container img {
    max-width: 250px;
    height: auto;
    margin: 0 auto;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

.container {
    padding: 20px;
    margin-bottom: 100px; 
}

.section {
    margin-bottom: 40px;
    
}

.section h2 {
    color: #ffffff;
    border-bottom: 2px solid #b08d3a;
    padding-bottom: 10px;
}

.video-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
}

.video-item {
    flex: 1 1 calc(33.333% - 30px);
    min-width: 300px;
}

.video-item h3 {
    color: #ffffff;
    margin: 10px 0;
    font-size: 1.1em;
}

.video-item iframe {
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #b08d3a;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
